@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.1rem;
  line-height: 1.2;
  letter-spacing: 0.08em;
  font-weight: 700;
}

span {
  font-weight: 300;
}

#menu-toggle:checked + #menu {
  display: block;
}

.custom__heading {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  width: 100%;
  position: relative;

  font-size: 1rem;
  line-height: 1.2;
}

.custom__heading:after {
  content: '';
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  box-ordinal-group: 2;
  -webkit-order: 2;
  -moz-order: 2;
  order: 2;
  -ms-flex-order: 2;
  margin-left: 0.6em;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}

.post--horizontal::after {
  clear: both;
  content: '';
  display: table;
}
